#calendar-cont {
}

#calendar {
    width: 75%;
    display: inline-block;
    float: left;
}

#overview {
    width: 23%;
    margin-left: 2%;
    height: 50px;
    display: inline-block;
    padding-top: 25px;
}

#overview > div {
    margin-bottom: 15px;
}

.selectedDay {
    background: #ffaa00;
    margin: auto;
}

.successfullyAdded {
    background-image: url("../images/success.png");
    background-position-x: 0;
    background-repeat: no-repeat;
    list-style: none;
    width: 100%;
    margin: 0 0 0 -25px;
    padding: 0 0 0 25px;
    line-height: 25px;
}

#selected-dates-cont li {
    line-height: 25px;
}

#overview-dates-success {
    background-image: url("../images/success.png");
    background-position-x: 0;
    background-repeat: no-repeat;
    list-style: none;
    width: 100%;
    margin: 15px 0;
    padding: 0 0 0 25px;
    line-height: 25px;
    display: none;
}

.removeEvent {
    position: absolute;
    top: 0;
    right: 5px;
    color: #ffffff;
    text-decoration: none;
}
